@model IEnumerable<CSM_NET.Models.ComponentDefinition>

@{
    int pageId = (int)ViewData["pageId"];
}

<p>
    <a href="@Url.Action("Edit", "Page", new { Id = @pageId })">Indietro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    <a href="@Url.Action("AddComponent", "Component", new { pageId = @pageId, name = @item.Key })">Aggiungi</a>
                    aggiungi/rimuovi
    @*                <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Key">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Key">Delete</a>*@
                </td>
            </tr>
        }
        </tbody>
</table>
